#menuBar{
    width: 10%;
    height: 100%;
    text-align: left;
    position: fixed;
    background-color: black;
    color: white;
}

#backgroundImage{
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url("../Resources/darkPattern.png");
}

#pageContent{
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
    padding-right: 10%;
    color: white;
}
