body{
    margin: 0px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#menuBar{
    width: 7%;
    height: 100%;
    text-align: left;
    position: fixed;
    background-color: #252a33;
    color: #eee;
}

.menuIcon{
    background-color: #252a33;
    border: none;
    outline: none;
    padding-bottom: 15%;
    text-align: left;
    width: 100%;
}

.menuIcon img{
    width: 40%;
    height: auto;
    display: block;
    padding-bottom: 30%;
    margin: auto;
}

#logo{
    border-bottom: 1px;
    margin: 0;
    padding-top: 30%;
}

#logo img{
    width: 60%;
    height: auto;
    display: block;
    padding-left: 25%;
}

#logoName{
    text-align: center;
    color: #eee;
    text-decoration: none;
    padding-bottom: 20%;
    padding-top: 5;
}

#backgroundImage{
    width: 93%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url("../Resources/darkPattern.gif");
    background-size: contain;
    overflow: auto;
}

#pageContent{
    width: 93%;
    height: 100%;
    position: absolute;
    right: 0;
    color: #eee;
}

ul {
  list-style-type: none;
  text-align: left;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
    width: 100%;
    height: auto;
    position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .33s ease;
  background-color: #252a33;
  cursor:pointer;
}

.container:hover .overlay {
  opacity: 1;
}

#pageContent ul{
  height: 80%;
}

#pageContent h1{
  padding-left: 39%;
  padding-bottom: 2%;
}

.skills{
  width: 150px;
  height: 150px;
  border-radius: 3px;
  border-color: black;
  display: inline-block;
  margin-bottom: 5%;
  margin-right: 5%;
}

.skills img{
  max-width: 100%;
  max-height: 100%;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .33s ease;
  cursor:pointer;
}

.container:hover .overlay2 {
  opacity: 1;
}

.container:hover img{
  opacity: 0;
}

.textContent {
  color: #08fdd8;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textContent2 {
  color: #08fdd8;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 30;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.jobContent{
  padding-bottom: 8%;
}

.jobContent img{
  width: 15%;
  height: auto;
  float: left;
  padding-right: 3%;
  margin-bottom: 2%;
}

.jobContent h2{
  margin-bottom: 0;
}

.jobContent p{
  margin-top: 0;
  width: 80%;
  font-size: 18;
}

#jobDescription{
  font-weight: bold;
  margin-bottom: 0;
}

#sito{
  padding-top: 2%;
  margin-bottom: 5%;
}

#YPC{
  padding-top: 2%;
  margin-bottom: 5%;
}

:root {
    --color-bg: #252a33;
    --color-text: #eee;
    --color-text-subtle: #a2a2a2;
}

[data-termynal] {
    width: 750px;
    max-width: 100%;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 18px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 75px 45px 35px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

[data-termynal]:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* A little hack to display the window buttons in one pseudo element. */
    background: #d9515d;
    -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
            box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

[data-ty] {
    display: block;
    line-height: 2;
}

[data-ty]:before {
    /* Set up defaults and ensure empty lines are displayed. */
    content: '';
    display: inline-block;
    vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
    margin-right: 0.75em;
    color: var(--color-text-subtle);
}

[data-ty="input"]:before {
    content: '$';
}

[data-ty][data-ty-prompt]:before {
    content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
    content: attr(data-ty-cursor);
    font-family: monospace;
    margin-left: 0.5em;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
}


/* Cursor animation */

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
